<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head') %>
    <title>dashboard</title>
  </head>
  <body>
    <%- include('./partials/nav') %>
    <p>Admin Only</p>
    <%- include('./partials/scripts') %>
  </body>
</html>
