<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head') %>
    <title>Homepage</title>
  </head>
  <body>
    <%- include('./partials/nav') %>
    <br /><br />
    <p>This is a home page</p>
    <%- include('./partials/scripts') %>
  </body>
</html>
